# By Laster K. (lazerl0rd) do not copy without permission, copyright (c) 2018-2999, all rights reserved etc.
# Slimming juice
on property:persist.spectrum.profile=2
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave
    write /sys/class/leds/lcd-backlight/max_brightness 130
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "19000 1285000:59000 1385000:59000 1485000:119000"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 19000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1200000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 19000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "1 500000:46 600000:82 700000:35 800000:99 900000:63 1185000:91 1285000:97 1385000:65 1485000:99"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1824000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "19000 1285000:39000 1385000:139000"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 19000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 1200000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 19000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "70 400000:43 500000:54 600000:44 700000:99 800000:72 900000:99 1000000:76 1085000:94 1185000:88 1285000:99 1385000:74 1485000:99"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 80000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1440000
    write /sys/module/cpu_boost/parameters/input_boost_enabled 0

# A balanced diet
on property:persist.spectrum.profile=0
    write /sys/module/msm_performance/parameters/max_cpus "-1:-1"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1536000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1824000 
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/module/cpu_boost/parameters/input_boost_enabled 1
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1248000 4:672000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 100
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "29 384000:88 600000:90 787200:92 960000:93 1248$
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 60000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 30000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 60000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1440000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 100
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads 98
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 480000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 30000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400

# Fast food everyday bro
on property:persist.spectrum.profile=1
    write /sys/module/msm_performance/parameters/max_cpus "-1:-1"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1632000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
    write /sys/module/cpu_boost/parameters/input_boost_enabled 1
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1536000 4:672000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 100
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "29 384000:88 600000:90 787200:92 960000:93 1248$
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 60000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 30000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 60000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1536000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 100
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads 98
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 480000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 30000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1824000
on property:persist.spectrum.profile=3
    write /sys/module/msm_performance/parameters/max_cpus "-1:-1"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1632000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2016000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
    write /sys/module/cpu_boost/parameters/input_boost_enabled 1
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1440000 4:672000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 100
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "29 384000:88 600000:90 787200:92 960000:93 $
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 60000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 30000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 60000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1536000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 100
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads 98
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 480000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 30000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1824000
